body{
  box-sizing: border-box;
}

ul{
    list-style: none outside;
    margin: 0;
    padding: 0;
}

li{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

#global-header{
  position: relative;
  top: 18px;
  height: 36px;
  margin: 0 auto;
  display: block;
  width: 980px;
  z-index: 9998;
  border-radius: 4px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
}

#global-nav{
  display: flex;

}
#global-nav li{
  flex-grow: 1;
  text-align: center;
}


